@import '../../../variables.css';

.action {
  position: relative;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
}

.action:hover i {
  display: inherit;
  transition: all 0.5s ease-in-out;
  transform: rotate(-180deg);
}

.actionName {
  padding: 0 4px;
  font-weight: 600;
  font-size: 14px;
}

.spacer::after {
  content: '';
  width: 0;
  height: 5px;
  border-right: 1px solid var(--Trout);
  padding: 0 5px;
}

.dropDown {
  position: absolute;
  top: 1.6rem;
  left: -3rem;
  width: 15rem;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--CodGray);
  background: var(--CodGray2);
  color: var(--Jade);
}

.dataItem {
  padding: 10px 3px;
  text-align: left;
  border-bottom: 1px solid var(--MineShaft);
}

.dataItem:hover {
  background: var(--MineShaft);
  color: var(--Green);
}

.dataItem:last-child {
  border: none;
}
