@import '../../../variables.css';

.container {
  background: var(--CodGray);
  color: var(--Gallery);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.event {
  cursor: pointer;
  padding: 10px 0;
  width: 90%;
  font-weight: 400;
  margin: 0;
  text-align: left;
  padding-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0 10px;
}
