@import '../variables.css';

.container {
  width: 100%;
  background: var(--Trout);
  color: var(--White);
  padding: 5px 4%;
}

.cross {
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
  color: var(--White);
  position: absolute;
  right: 20px;
}
