@import '../../../variables.css';

.actionContainer {
  position: relative;
  top: 50%;
  display: inline-block;
  transform: translateY(-50%);
}

.askQuestion {
  color: #fff;
  background: var(--Jade);
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  position: relative;
  display: inline-block;
}

.askQuestion i {
  position: relative;
  top: 1px;
}

.inlineBlock {
  display: inline-block;
}
