@import '../../../variables.css';

.pinBar {
  position: fixed;
  color: var(--Gallery);
  bottom: 0;
  overflow: hidden;
  background: transparent;
  height: 40px;
  white-space: nowrap;
}

.pinBar div {
  display: inline-block;
}

.slider,
.pinBarItem {
  height: 100%;
  cursor: pointer;
  padding-top: 10px;
}

.slider,
.subBar {
  background: var(--Lochmara);
  border-radius: 10px;
}

.slider {
  padding: 10px 25px;
  text-align: center;
}

.subBar {
  max-width: 98%;
  overflow-x: auto;
  overflow-y: hidden;
}

.cursor {
  font-weight: bold;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  top: 10px;
  margin-left: 3px;
}

.pinBarItem {
  background: var(--Astronaut);
  min-width: 25%;
  margin: 1px 5px;
  border-radius: 20px;
}

.heading {
  margin-left: 10px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading ~ i {
  font-size: 12px;
  position: relative;
  right: 0;
  padding: 0 7px;
  vertical-align: text-top;
}
