@import '../../../../commonStyles/customFont.css';
@import '../../../../commonStyles/globalCss';

/**
 * We must import this in every css file that needs variables because post-css loader
 * transforms single file at a time. So, if these variables are included only in parent
 * this loader will throw warnings that variables are not defined, even though these have
 * been applied on the root scope and will work correctly in HTML
 */
@import '../../../variables.css';

/*
 * normalize.css is imported in JS file.
 * If you import external CSS file from your internal CSS
 * then it will be inlined and processed with CSS modules.
 */

.pageContainer {
  min-width: 1024px;
}

.topBarContainer {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.child {
  position: relative;
  top: 80px;
}

.addTopBarHeight {
  top: 110px;
}

.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--White);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
