@import '../../../variables.css';

.container {
  border-radius: 15px;
  border: 1px solid var(--MineShaft);
  background: var(--CodGray2);
  width: 100%;
  min-height: 50px;
  margin: 15px 0;
  text-align: center;
  padding: 16px;
}

.container:first-child {
  margin-top: 0;
}

.container:hover {
  box-shadow: 0 1px 3px var(--Trout);
}

.titleContainer {
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 15px;
  width: 100%;
}

.title {
  width: 98%;
  padding-right: 10px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.title:hover {
  color: var(--Silver);
}

.flagpin {
  width: 2%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.footer {
  display: flex;
  font-size: 12px;
}

.time {
  text-align: left;
  color: var(--PictonBlue);
  flex: 1 1 0;
}

.value {
  text-align: right;
  flex: 1 1 0;
}

.live {
  margin-left: 4px;
}

@keyframes blink-anim {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation-duration: 2s;
  animation-name: blink-anim;
  animation-iteration-count: infinite;
}
