@import '../../components/variables.css';

.root {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.containerLeft {
  margin: 0 auto;
  display: inline-block;
  width: 75%;
  padding: 0 0 40px;
  min-height: 400px;
  vertical-align: top;
}

.containerRight {
  display: inline-block;
  width: 25%;
}
