@import '../../../variables.css';

.header {
  position: relative;
  width: 100%;
  height: 74px;
  padding: 0 4%;
  background: var(--CodGray);
  border-bottom: 1px solid var(--Trout);
  min-width: 1024px;
  transform: translateZ(0);
  transition: all 0.5s ease-in-out;
}

.logoInfo {
  position: relative;
  color: var(--Jade);
  top: 20px;
  cursor: pointer;
  margin-right: 3%;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

@media (max-width: 1260px) {
  .header {
    width: 1260px;
    padding: 0 3%;
  }

  .logoInfo {
    margin-right: 4%;
  }
}
